**/_*/
**/test*/
*.minted
*.fls
**/*.egg-info/
python/dist/*

.DS_Store

*.bat
*.ps1

*.aux
*.fdb_latexmk
*.glo
*.glo
*.gls
*.hd
*.idx
*.ilg
*.listing
*.log
*.lol
*.out
*.pygstyle
*.pygtex
*.synctex
*.synctex.gz
*.tmp*
*.toc
*.url
